{% extends 'base.html.twig' %}

{% block title %}Bonjour{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="main">
        <main>
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <h3 class="uk-card-title">Default</h3>
    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
        </main>
    </section>
{% endblock %}
